<script setup lang="ts">
import { mdiMenuRight } from "@mdi/js";
import { useTableStore } from "@/stores/tables";
import { useOrderStore } from "@/stores/order";

const useTable = useTableStore();
const useOrder = useOrderStore();

const reserve = async () => {
  useTable.editedtables.status != "";
  useTable.editedtables.id = props.id;
  if (props.status == "ready") {
    (useTable.editedtables.id = props.id),
      (useTable.editedtables.status = "on-use");
    useOrder.editedOrder.tableId = props.id;
    useTable.changeTableStatus();
    useOrder.saveOrder();
  } else if (props.status == "on-use") {
    (useTable.editedtables.id = props.id),
      (useTable.editedtables.status = props.status);
    console.log(useTable.editedtables.id);
    console.log(useTable.editedtables.status);
    useTable.editedtables.status = "on-use";
    await useOrder.getOrderByTableId(useTable.editedtables.id!);
  } else if (props.status == "clean") {
    (useTable.editedtables.id = props.id),
      (useTable.editedtables.status = props.status);
    useTable.editedtables.status = "clean";
  }
};

const reset = () => {
  if (props.status == "clean") {
    (useTable.editedtables.id = props.id),
      (useTable.editedtables.status = "ready");
    useOrder.editedOrder.tableId = props.id;
    useTable.changeTableStatus();
    useTable.editedtables.status = "";
  }
};

const props = defineProps<{
  id: number;
  status: string;
}>();
</script>

<template>
  <v-card
    class="cardTableReady"
    elevation="5"
    width="220"
    height="280"
    variant="tonal"
    justify-center
  >
    <v-card-title class="cardTitle">table {{ props.id }}</v-card-title>
    <v-card-subtitle class="cardSubtitle">{{ props.status }}</v-card-subtitle>
    <v-img
      width="200"
      height="120"
      src="https://cdn-icons-png.flaticon.com/512/2668/2668966.png"
    ></v-img>
    <v-card-actions style="display: block; text-align: center">
      <v-btn
        variant="tonal"
        :append-icon="mdiMenuRight"
        @click="reserve()"
        v-if="props.status == 'ready'"
        >Reserve
      </v-btn>
      <v-btn
        variant="tonal"
        :append-icon="mdiMenuRight"
        @click="reserve()"
        v-if="props.status == 'on-use'"
        >Edit
      </v-btn>
      <v-btn
        variant="tonal"
        :append-icon="mdiMenuRight"
        @click="reset()"
        v-if="props.status == 'clean'"
        >reset
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<style scoped>
.head {
  font-size: 30px;
}

.cardTableReady {
  padding: 20px;
}

.cardTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.cardSubtitle {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
</style>
