<script setup lang="ts">
import CardTable from "./cardTable.vue";
import tableMenuView from "../tableMenu/tableMenuView.vue";
import { useTableStore } from "../../stores/tables";
import { onMounted } from "vue";

const useTable = useTableStore();

onMounted(async () => {
  await useTable.getTables();
});
</script>

<template>
  <v-dialog>
    <v-progress-circular indeterminate color="green"></v-progress-circular>
  </v-dialog>
  <v-container>
    <v-row>
      <v-col style="overflow-y: auto; height: 89vh">
        <v-card
          ><v-container>
            <v-row v-if="useTable.editedtables.status !== ''">
              <v-col
                class="center"
                cols="4"
                v-for="(item, index) of useTable.tables"
                :key="index"
              >
                <CardTable
                  :id="item.id!"
                  :status="item.status"
                  :style="{ color: useTable.cardColor(item.status) }"
                ></CardTable>
              </v-col>
            </v-row>
            <v-row v-else>
              <v-col
                class="center"
                cols="2"
                v-for="(item, index) of useTable.tables"
                :key="index"
              >
                <CardTable
                  :id="item.id!"
                  :status="item.status"
                  :style="{ color: useTable.cardColor(item.status) }"
                ></CardTable> </v-col
            ></v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4" xs="12" v-if="useTable.editedtables.status !== ''">
        <v-card height="100%">
          <v-container>
            <tableMenuView></tableMenuView>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.head {
  font-size: 50px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
</style>
