<script setup lang="ts">
import {
  mdiSilverware,
  mdiFormatListBulleted,
  mdiBasket,
  mdiMagnify,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col offset="0" class="d-flex justify-lg-space-between">
        <div class="head">Menu</div>
        <!-- <v-btn color="grey" :prepend-icon="mdiSilverware"></v-btn> -->
        <div class="seticon">
          <router-link :to="{ path: '/menuPhone' }"
            ><v-btn :icon="mdiSilverware" color="grey" class="ma-4"></v-btn
          ></router-link>
          <router-link :to="{ path: '/orderListPhone' }"
            ><v-btn :icon="mdiBasket" color="grey" class="ma-4"></v-btn
          ></router-link>
          <router-link :to="{ path: '/orderedPhone' }"
            ><v-btn
              :icon="mdiFormatListBulleted"
              color="grey"
              class="ma-4"
            ></v-btn
          ></router-link>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div>
          <view class="text-decoration-underline">
            <text>Table 1</text>
          </view>
        </div>
        <v-card>
          <div id="app">
            <div class="search-wrapper">
              <v-text-field
                placeholder="ค้นหา"
                :prepend-inner-icon="mdiMagnify"
              ></v-text-field>
            </div>
          </div>
          <div>
            <v-select
              placeholder="ตัวกรอง"
              :items="['อาหาร', 'น้ำ', 'ขนม']"
              variant="solo"
            ></v-select>
          </div>

          <div>
            <v-row class="mx-16">
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
              <div class="mx-10">
                <v-col class="text-center">
                  <v-card width="204" height="187">
                    <v-img
                      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=768,574"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-btn
                  depressed
                  height="50"
                  width="225"
                  style="font-size: 0.6cm"
                  >สั่งอาหาร
                </v-btn>
              </div>
            </v-row>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <div class="btn_call">
    <v-btn depressed height="50" width="225" style="font-size: 0.6cm"
      >เรียกพนักงาน</v-btn
    >
  </div>
</template>

<style scoped>
.head {
  font-size: 80px;
  text-align: left;
}

.search-wrapper {
  position: relative;
}

input {
  padding: 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
  background: white;
}

.v-card {
  background: rgb(244, 242, 242);
  padding: 20px;
  height: 1000px;
}

.v-btn {
  background: rgb(196, 192, 192);
}

.btn_call {
  text-align: right;
}
.seticon {
  padding: 5px;
  margin-top: 20px;
}
</style>
