<script setup lang="ts">
import {
  mdiSilverware,
  mdiFormatListBulleted,
  mdiBasket,
  mdiMinus,
  mdiPlus,
} from "@mdi/js";
// import { ref } from "vue";
// const count = ref(props.count);
// const props = withDefaults(
//   defineProps<{
//     name: string;
//     img: string;
//     count: number;
//     index: number;
//   }>(),
//   {
//     count: 1,
//   }
// );
// const emits = defineEmits<{
//   (e: "change", index: number, rating: number): void;
// }>();
// function inc() {
//   count.value++;
//   emits("change", props.index, count.value);
// }
// function dec() {
//   count.value--;
//   emits("change", props.index, count.value);
// }
</script>

<template>
  <v-container>
    <v-row>
      <v-col offset="0" class="d-flex justify-lg-space-between">
        <div class="head">OrderList</div>
        <!-- <v-btn color="grey" :prepend-icon="mdiSilverware"></v-btn> -->
        <div class="seticon">
          <router-link :to="{ path: '/menuPhone' }"
            ><v-btn :icon="mdiSilverware" color="grey" class="ma-4"></v-btn
          ></router-link>
          <router-link :to="{ path: '/orderListPhone' }"
            ><v-btn :icon="mdiBasket" color="grey" class="ma-4"></v-btn
          ></router-link>
          <router-link :to="{ path: '/orderedPhone' }"
            ><v-btn
              :icon="mdiFormatListBulleted"
              color="grey"
              class="ma-4"
            ></v-btn
          ></router-link>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div>
          <view class="text-decoration-underline">
            <text>Table 1</text>
          </view>
        </div>
        <v-card>
          <div id="app">
            <v-row cols="12">
              <v-col cols="9">
                <h1 class="ma-3 pe-16" style="text-align: center">รายการ</h1>
                <br />
                <v-row>
                  <h2>1. กระเพราไก่</h2>
                </v-row>
                <v-row>
                  <div class="search-wrapper">
                    <v-text-field
                      label="หมายเหตุ"
                      outlined
                      style="width: 600px"
                    ></v-text-field>
                  </div>
                </v-row>
                <v-row>
                  <h2>2. ไข่ดาว</h2>
                </v-row>
                <v-row>
                  <div class="search-wrapper">
                    <v-text-field
                      label="หมายเหตุ"
                      outlined
                      style="width: 600px"
                    ></v-text-field>
                  </div>
                </v-row>
                <v-row>
                  <h2>3. ราดหน้าหมู่นุ่ม พิเศษ</h2>
                </v-row>
                <v-row>
                  <div class="search-wrapper">
                    <v-text-field
                      label="หมายเหตุ"
                      outlined
                      style="width: 600px"
                    ></v-text-field>
                  </div>
                </v-row>
                <v-row>
                  <h2>4. ข้าวราดคะน้าหมูกรอบ</h2>
                </v-row>
                <v-row>
                  <div class="search-wrapper">
                    <v-text-field
                      label="หมายเหตุ"
                      outlined
                      style="width: 600px"
                    ></v-text-field>
                  </div>
                </v-row>
                <v-row>
                  <h2>5. น้ำเปล่า</h2>
                </v-row>
                <v-row>
                  <div class="search-wrapper">
                    <v-text-field
                      label="หมายเหตุ"
                      outlined
                      style="width: 600px"
                    ></v-text-field>
                  </div>
                </v-row>
              </v-col>
              <v-col cols="3">
                <h1 class="ma-3" style="text-align: center">จำนวน</h1>
                <br />
                <v-row cols="12">
                  <v-col cols="3">
                    <v-btn :icon="mdiMinus"></v-btn>
                  </v-col>
                  <v-col
                    cols="5"
                    id="num"
                    style="text-align: center; font-size: 200%"
                    >2</v-col
                  >
                  <v-col cols="3">
                    <v-btn :icon="mdiPlus"></v-btn>
                  </v-col>
                </v-row>
                <br />
                <br />
                <br />
                <v-row cols="12">
                  <v-col cols="3">
                    <v-btn :icon="mdiMinus"></v-btn>
                  </v-col>
                  <v-col
                    cols="5"
                    id="num"
                    style="text-align: center; font-size: 200%"
                    >2</v-col
                  >
                  <v-col cols="3">
                    <v-btn :icon="mdiPlus"></v-btn>
                  </v-col>
                </v-row>
                <br />
                <br />
                <br />
                <v-row cols="12">
                  <v-col cols="3">
                    <v-btn :icon="mdiMinus"></v-btn>
                  </v-col>
                  <v-col
                    cols="5"
                    id="num"
                    style="text-align: center; font-size: 200%"
                    >2</v-col
                  >
                  <v-col cols="3">
                    <v-btn :icon="mdiPlus"></v-btn>
                  </v-col>
                </v-row>
                <br />
                <br />
                <br />
                <v-row cols="12">
                  <v-col cols="3">
                    <v-btn :icon="mdiMinus"></v-btn>
                  </v-col>
                  <v-col
                    cols="5"
                    id="num"
                    style="text-align: center; font-size: 200%"
                    >2</v-col
                  >
                  <v-col cols="3">
                    <v-btn :icon="mdiPlus"></v-btn>
                  </v-col>
                </v-row>
                <br />
                <br />
                <br />
                <v-row cols="12">
                  <v-col cols="3">
                    <v-btn :icon="mdiMinus"></v-btn>
                  </v-col>
                  <v-col
                    cols="5"
                    id="num"
                    style="text-align: center; font-size: 200%"
                    >2</v-col
                  >
                  <v-col cols="3">
                    <v-btn :icon="mdiPlus"></v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <div class="btn_call">
    <v-btn
      depressed
      height="50"
      width="225"
      style="font-size: 0.6cm"
      color="grey"
      >ยืนยัน</v-btn
    >
  </div>
</template>

<style scoped>
.head {
  font-size: 80px;
  text-align: left;
}

.input {
  padding: 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
  background: white;
}

.v-card {
  background: rgb(244, 242, 242);
  padding: 20px;
  height: 1000px;
}

h2 {
  position: relative;
  left: 3%;
}

.search-wrapper {
  position: relative;
  left: 7%;
}

.btn_call {
  text-align: right;
}

.seticon {
  padding: 5px;
  margin-top: 20px;
}
</style>
