<script setup lang="ts">
import { mdiSilverware, mdiFormatListBulleted, mdiBasket } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col offset="0" class="d-flex justify-lg-space-between">
        <div class="head">Ordered</div>
        <!-- <v-btn color="grey" :prepend-icon="mdiSilverware"></v-btn> -->
        <div class="seticon">
          <router-link :to="{ path: '/menuPhone' }"
            ><v-btn :icon="mdiSilverware" color="grey" class="ma-4"></v-btn
          ></router-link>
          <router-link :to="{ path: '/orderListPhone' }"
            ><v-btn :icon="mdiBasket" color="grey" class="ma-4"></v-btn
          ></router-link>
          <v-btn
            :icon="mdiFormatListBulleted"
            color="grey"
            class="ma-3"
          ></v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div>
          <view class="text-decoration-underline">
            <text>Table 1</text>
          </view>
        </div>
        <v-card>
          <v-row cols="12">
            <v-col cols="5">
              <h1 class="ma-3 pe-16" style="text-align: center">รายการ</h1>
            </v-col>
            <v-col cols="2">
              <h1 class="ma-3" style="text-align: center">ราคา</h1>
            </v-col>
            <v-col cols="2">
              <h1 class="ma-3" style="text-align: center">จำนวน</h1>
            </v-col>
            <v-col cols="3">
              <h1 class="ma-3" style="text-align: center">สถานะ</h1>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="5">
              <h3 class="ma-3 pe-16" style="text-align: left">1. กระเพราไก่</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">60.00</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">1</h3>
            </v-col>
            <v-col cols="3" class="text-decoration-underline">
              <h3 class="ma-3" style="text-align: center">รอคิว</h3>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="5">
              <h3 class="ma-3 pe-16" style="text-align: left">2. ไข่ดาว</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">5.00</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">1</h3>
            </v-col>
            <v-col cols="3" class="text-decoration-underline">
              <h3 class="ma-3" style="text-align: center">กำลังทำ</h3>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="5">
              <h3 class="ma-3 pe-16" style="text-align: left">
                3. ราดหน้าหมู่นุ่ม พิเศษ
              </h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">55.00</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">1</h3>
            </v-col>
            <v-col cols="3" class="text-decoration-underline">
              <h3 class="ma-3" style="text-align: center">กำลังทำ</h3>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="5">
              <h3 class="ma-3 pe-16" style="text-align: left">
                4. ข้าวราดคะน้าหมูกรอบ
              </h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">50.00</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">1</h3>
            </v-col>
            <v-col cols="3" class="text-decoration-underline">
              <h3 class="ma-3" style="text-align: center">รอคิว</h3>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="5">
              <h3 class="ma-3 pe-16" style="text-align: left">5. น้ำเปล่า</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">40.00</h3>
            </v-col>
            <v-col cols="2">
              <h3 class="ma-3" style="text-align: center">4</h3>
            </v-col>
            <v-col cols="3" class="text-decoration-underline">
              <h3 class="ma-3" style="text-align: center">เสร็จสิ้น</h3>
            </v-col>
          </v-row>
          <v-row cols="12">
            <v-col cols="9">
              <h2>quantity</h2>
              <h2>total price</h2>
            </v-col>
            <v-col cols="3">
              <h2 class="ma-3" style="text-align: center">5</h2>
              <h2 class="ma-3" style="text-align: center">210.00</h2>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.head {
  font-size: 80px;
  text-align: left;
}

.input {
  padding: 12px;
  color: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
  background: white;
}

.v-card {
  background: rgb(244, 242, 242);
  padding: 20px;
  height: 800px;
}

h2 {
  position: relative;
  left: 3%;
}

.search-wrapper {
  position: relative;
  left: 7%;
}

.btn_call {
  text-align: right;
}

.seticon {
  padding: 5px;
  margin-top: 20px;
}
</style>
