<script setup lang="ts">
import { mdiArrowLeft, mdiCash } from "@mdi/js";
import { useOrderStore } from "@/stores/order";
import { useTableStore } from "@/stores/tables";
import { onMounted, ref } from "vue";
const orderStore = useOrderStore();
const totalPrice = ref(0);
const useStore = useTableStore();
const tab = 0;

const totalCount = ref(0);
const total = (price: number, qty: number): number => {
  totalPrice.value += price;
  totalCount.value += qty;
  return price;
};
onMounted(async () => {
  console.log("asdmkas;a'sf");
  await orderStore.getOrders();
  console.log(orderStore.getOrders());
});
const setZero = () => {
  totalPrice.value = 0;
  totalCount.value = 0;
};
</script>

<template>
  <h2 class="text-center">สรุปการชำระเงิน</h2>
  <br />
  <v-row>
    <v-col><v-btn :icon="mdiArrowLeft" flat to="/order"></v-btn></v-col>
    <v-col class="text-right"
      ><v-btn :icon="mdiCash" flat to="/selectedPay"></v-btn
    ></v-col>
  </v-row>
  <v-card>
    <v-tabs v-model="tab" bg-color="error">
      <v-tab value="history" style="color: yellow"
        >Table : {{ useStore.editedtables.id }}</v-tab
      >
      <div v-for="n in orderStore.orderList" :key="n.id"></div>
    </v-tabs>
    <v-card-text>
      <v-window v-model="tab" v-for="n in orderStore.orderList" :key="n.id">
        <v-window-item :value="n.id">
          <v-table>
            {{ setZero() }}
            <thead>
              <tr>
                <th class="text-center" style="font-size: larger">รายการ</th>
                <th class="text-center" style="font-size: larger">จำนวน</th>
                <th class="text-center" style="font-size: larger">ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of orderStore.orderItemListByOrderId"
                :key="item.id"
              >
                <td style="text-align: center">{{ item.name }}</td>
                <td style="text-align: center">{{ item.qty }}</td>
                <td style="text-align: center">
                  {{ total(item.price! * item.qty, item.qty) }}
                </td>
              </tr>
            </tbody>
          </v-table>
          <br />
          <v-col>
            <v-row style="text-align: center">
              <v-col cols="9" style="text-align: right; font-weight: bolder"
                >Amount :</v-col
              >
              <v-col cols="3">{{ orderStore.orderByOrderId?.amount }}</v-col>
            </v-row>
            <v-row style="text-align: center">
              <v-col cols="9" style="text-align: right; font-weight: bolder"
                >Price :</v-col
              >
              <v-col cols="3">{{
                orderStore.orderByOrderId?.total
              }}</v-col></v-row
            >
          </v-col>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
  <v-card>
    <v-col>
      <v-row>
        <v-col class="text-center" cols="6">
          <v-btn width="50%" height="60" color="error" to="/table"
            >Cancel</v-btn
          >
        </v-col>
        <v-col class="text-center" cols="6">
          <v-btn width="50%" height="60" color="success" to="/selectedPay"
            >Pay</v-btn
          >
        </v-col>
      </v-row>
    </v-col>
  </v-card>

  <div></div>
</template>

<style scoped></style>
