<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useTableStore } from "@/stores/tables";
import { useOrderStore } from "@/stores/order";
import router from "@/router";
import { useRoute } from "vue-router";
import { useBillingStore } from "@/stores/billing";
import billing from "@/services/billing";
import type Billing from "@/stores/types/Billing";
import { useMessageStore } from "@/stores/message";

const route = useRoute();
const useTable = useTableStore();
const useOrder = useOrderStore();
const messageStore = useMessageStore();
const billingStore = useBillingStore();
const orderId = ref(route.params.id);
const totalPrice = ref(0);
const tab = 0;
const cash = ref(0);
const refund = ref(0);
const payDisabled = ref(true);
const pay = ref(0);
const role = ref(0);

onMounted(async () => {
  await useOrder.getOrderById(parseInt(useOrder.orderId!));
});

const props = defineProps<{
  id: number;
  status: string;
}>();

// const pay = async () => {
//   if (useTable.editedtables.status == "on-use") {
//     useTable.editedtables.status = "clean";
//     useOrder.editedOrder.tableId = props.id;
//     useTable.changeTableStatus();
//   }
// };
const newBilling = ref<Billing>({
  total_price: 0,
  cash: 0,
  change: 0,
  role: "1",
});
const purchase = () => {
  console.log("calculate", cash.value);
  console.log(totalPrice.value);
  refund.value = cash.value - useOrder.orderByOrderId?.total!;
};
const confirmOrder = () => {
  newBilling.value!.total_price = parseInt(useOrder.orderByOrderId?.total + "");
  newBilling.value!.cash = parseInt(cash.value + "");
  newBilling.value!.change = refund.value;
  // refund.value = cash.value - useOrder.orderByOrderId?.total!;
  // newBilling.value!.orderId = orderId;
  console.log(newBilling);
  billingStore.createBilling(newBilling.value);

  if (useTable.editedtables.status === "on-use") {
    useTable.editedtables.status = "clean";
    useOrder.editedOrder.tableId = props.id;
    useTable.changeTableStatus();
  }
};
</script>
<template>
  <h2 class="text-center">ช่องทางการชำระเงิน : Cash</h2>
  <br />

  <v-card>
    <v-tabs v-model="tab" bg-color="error"> </v-tabs>
  </v-card>
  <v-card>
    <v-col v-if="useOrder.orderItemListByOrderId.length === 0">
      <p>No orders found.</p>
    </v-col>
    <v-col>
      <v-row style="text-align: center">
        <v-col cols="12" style="text-align: center">
          <h2>Table : {{ useTable.editedtables.id }}</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="5" style="text-align: right">จำนวนสินค้า : </v-col>
        <v-col cols="7" style="text-align: left">
          {{ useOrder.orderByOrderId?.amount }}
        </v-col>
      </v-row>
      <v-row style="text-align: center">
        <v-col cols="5" style="text-align: right">ราคารวม : </v-col>
        <v-col cols="7" style="text-align: left">
          {{ useOrder.orderByOrderId?.total }}
        </v-col>
      </v-row>
      <v-row style="text-align: center">
        <v-col cols="5" style="text-align: right">รับเงิน : </v-col>
        <v-col cols="2" style="text-align: center">
          <v-text-field
            id="inputMoney"
            label="จำนวน"
            variant="outlined"
            v-model="cash"
            style="width: 90%"
          ></v-text-field>
        </v-col>
        <v-col cols="5" style="text-align: left" bg-color="success">
          <v-btn density="compact" color="blue" rounded @click="purchase()"
            >จ่าย</v-btn
          >
        </v-col>
      </v-row>
      <v-row style="text-align: center">
        <v-col cols="5" style="text-align: right">เงินทอน : </v-col>
        <v-col cols="7" style="text-align: left">{{ refund }}</v-col>
      </v-row>
    </v-col>
  </v-card>
  <v-col class="text-center" cols="12">
    <v-btn
      width="20%"
      height="60"
      color="success"
      to="table"
      @click="confirmOrder()"
      >Confirm</v-btn
    >
  </v-col>
</template>
<style scoped></style>
