<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useTableStore } from "@/stores/tables";
import { useOrderStore } from "@/stores/order";
import { useBillingStore } from "@/stores/billing";
import type Billing from "@/stores/types/Billing";

const useTable = useTableStore();
const useOrder = useOrderStore();
const billingStore = useBillingStore();
const totalPrice = ref(0);
const cash = ref(0);
const refund = ref(0);
onMounted(async () => {
  await useOrder.getOrderById(parseInt(useOrder.orderId!));
});
const props = defineProps<{
  id: number;
  status: string;
}>();

// const pay = async () => {
//   if (useTable.editedtables.status == "on-use") {
//     useTable.editedtables.status = "clean";
//     useOrder.editedOrder.tableId = props.id;
//     useTable.changeTableStatus();
//   }
// };
const newBilling = ref<Billing>({
  total_price: 0,
  cash: 0,
  change: 0,
  role: "2",
});
const purchase = () => {
  console.log("calculate", cash.value);
  console.log(totalPrice.value);
  refund.value = cash.value - useOrder.orderByOrderId?.total!;
};
const confirmOrder = () => {
  newBilling.value!.total_price = parseInt(useOrder.orderByOrderId?.total + "");
  newBilling.value!.cash = parseInt(cash.value + "");
  newBilling.value!.change = refund.value;
  // refund.value = cash.value - useOrder.orderByOrderId?.total!;
  // newBilling.value!.orderId = orderId;
  console.log(newBilling);
  billingStore.createBilling(newBilling.value);

  if (useTable.editedtables.status === "on-use") {
    useTable.editedtables.status = "clean";
    useOrder.editedOrder.tableId = props.id;
    useTable.changeTableStatus();
  }
};
</script>
<template>
  <h2 class="text-center">ช่องทางการชำระเงิน : Prompt Pay</h2>
  <br />
  <v-contrainer>
    <v-row>
      <v-col class="text-center">Table : {{ useTable.editedtables.id }}</v-col>
      <!-- <v-col class="text-right"><v-btn :icon="mdiBasket" flat to="/foodlist"></v-btn></v-col> -->
    </v-row>
    <v-divider></v-divider>
  </v-contrainer>
  <v-row>
    <v-col>
      <v-card class="d-flex justify-center">
        <!-- <v-tabs bg-color="success"> </v-tabs> -->

        <v-card-text class="d-flex justify-center">
          <v-window>
            <v-window-item>
              <v-img
                src="https://www.i-pic.info/i/hibf411934.jpg"
                width="500px"
                height="500px"
                align-self="center"
              ></v-img>
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>

  <v-card style="text-align: center">
    <v-btn
      width="25%"
      height="60"
      color="success"
      to="table"
      @click="confirmOrder()"
      >Confirm</v-btn
    >
  </v-card>
  <!-- <v-card>
        <v-row>
            <v-col class="text-center">

                <v-card width="300" height="300">
                    <v-img src="https://www.i-pic.info/i/hibf411934.jpg"></v-img>
                    <v-card-title>พร้อม เพย์ : 062-4289433</v-card-title>
                </v-card>

                    </v-col>
                </v-row>
            </v-card> -->
</template>
<style scoped></style>
