<script setup lang="ts">
import { mdiCloseCircle, mdiPlus, mdiMinus, mdiDelete } from "@mdi/js";
import router from "@/router";
import { onMounted, ref, reactive } from "vue";
import { useTableStore } from "@/stores/tables";
import { useProductStore } from "@/stores/product";
import { useRoute } from "vue-router";
import type Product from "@/stores/types/Product";
import { useCartStore } from "@/stores/Cart";
const backendURL = import.meta.env.VITE_BACKEND_URL;

const useStore = useTableStore();
const productStore = useProductStore();
const cartStore = useCartStore();
const route = useRoute();
const foodInCartList = reactive<Product[]>([]);
const orderId = ref(route.params.id);

onMounted(async () => {
  await productStore.getProducts();
});

const dec = (pd: Product) => {
  for (const item of foodInCartList) {
    if (item.id === pd.id && pd.count! > 1) {
      return pd.count!--;
    }
  }
};

const inc = (pd: Product) => {
  return pd.count!++;
};

function addProduct(pd: Product) {
  for (const lst in foodInCartList) {
    if (foodInCartList[lst].name === pd.name) {
      foodInCartList[lst].count! += 1;
      return;
    }
    console.log(foodInCartList);
  }
  pd.count = 1; // Initialize count to 0
  foodInCartList.push(pd);
}

function deleteProduct(item: Product) {
  for (const lst in foodInCartList) {
    if (foodInCartList[lst].name === item.name) {
      foodInCartList.splice(foodInCartList.indexOf(item), 1);
    }
  }
  item.count = 1;
}

async function addToOrder() {
  await cartStore.addCart(foodInCartList, orderId.value.toString());
  clearCart();
  router.push("/order");
}

function clearCart() {
  cartStore.clearCart();
  foodInCartList.splice(0, foodInCartList.length);
}
</script>

<template>
  <v-contrainer>
    <v-row>
      <v-col><v-btn :icon="mdiCloseCircle" flat to="/table"></v-btn></v-col>
      <v-col>Table : {{ useStore.editedtables.id }}</v-col>
      <!-- <v-col class="text-right"><v-btn :icon="mdiBasket" flat to="/foodlist"></v-btn></v-col> -->
    </v-row>
    <v-divider></v-divider>
  </v-contrainer>

  <v-card>
    <v-row class="ma-1">
      <v-col cols="7">
        <v-container style="overflow: auto; max-height: 43vw">
          <v-row>
            <v-col
              cols="4"
              v-for="item of productStore.productList"
              :key="item.id"
              class="text-center"
            >
              <v-btn
                depressed
                height="250"
                width="350"
                @click="addProduct(item)"
              >
                <v-card width="150" height="250">
                  <v-img
                    :src="`${backendURL}/products/image/${item.image}`"
                  ></v-img>
                  <v-card-title>{{ item.name }}</v-card-title>
                  <v-card-subtitle>{{ item.price }}</v-card-subtitle>
                </v-card>
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col>
        <v-container style="overflow: auto; height: 35vw">
          <v-row>
            <v-col class="text-center">รายการ</v-col>
            <v-col></v-col>
            <v-col>ราคา</v-col>
            <v-col></v-col>
            <v-col class="text-right">จำนวน</v-col>
            <v-col></v-col>
          </v-row>
          <v-row v-for="(item, index) of foodInCartList" :key="index">
            <v-divider></v-divider>
            <v-col>{{ item.name }}</v-col>
            <v-col>{{ item.price! * item.count! }}</v-col>
            <!-- <v-col>{{ item.count }}</v-col> -->

            <v-col>
              <div class="d-flex justify-space-around align-center">
                <v-btn
                  variant="outlined"
                  :prepend-icon="mdiMinus"
                  size="x-small"
                  @click="dec(item)"
                ></v-btn
                >{{ item.count
                }}<v-btn
                  variant="outlined"
                  :prepend-icon="mdiPlus"
                  size="x-small"
                  @click="inc(item)"
                ></v-btn>
                <v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  size="x-small"
                  @click="deleteProduct(item)"
                ></v-btn>
              </div>
            </v-col>
          </v-row>
        </v-container>
        <v-row>
          <v-col class="text-center" cols="6">
            <v-btn width="100%" height="60" color="error" to="table"
              >Cancel</v-btn
            >
          </v-col>
          <v-col class="text-center" cols="6">
            <v-btn
              width="100%"
              height="60"
              color="success"
              @click="addToOrder()"
              >Confirm</v-btn
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<style scoped></style>
