<script setup lang="ts">
import { mdiCloseCircle, mdiBasket } from "@mdi/js";
import { useOrderStore } from "@/stores/order";
import { useTableStore } from "@/stores/tables";
import { onMounted } from "vue";
const orderStore = useOrderStore();
const useTable = useTableStore();
const tab = 0;

onMounted(async () => {
  await orderStore.getOrderById(parseInt(orderStore.orderId!));
  console.log("orderByOrderId : ", orderStore.orderByOrderId);
});
</script>

<template>
  <h2 class="text-center">สรุปรายการสั่งซื้อ</h2>
  <br />
  <v-row>
    <v-col><v-btn :icon="mdiCloseCircle" flat to="/table"></v-btn></v-col>
    <v-col class="text-right"
      ><v-btn :icon="mdiBasket" flat to="/pay"></v-btn
    ></v-col>
  </v-row>
  <v-divider></v-divider>
  <v-card>
    <v-tabs v-model="tab" bg-color="error">
      <v-tab value="history" style="color: yellow"
        >Table : {{ useTable.editedtables.id }}</v-tab
      >
    </v-tabs>
    <v-card-text>
      <v-table>
        <thead>
          <tr>
            <th class="text-center" style="font-size: larger">รายการ</th>
            <th class="text-center" style="font-size: larger">จำนวน</th>
            <th class="text-center" style="font-size: larger">ราคาต่อหน่วย</th>
            <th class="text-center" style="font-size: larger">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of orderStore.orderItemListByOrderId" :key="item.id">
            <td style="text-align: center">{{ item.name }}</td>
            <td style="text-align: center">{{ item.qty }}</td>
            <td style="text-align: center">{{ item.price }}</td>

            <td style="text-align: center" v-if="item.statusId == -1">
              ยกเลิก / ของหมด
            </td>
            <td style="text-align: center" v-else-if="item.statusId == 1">
              รอคิว
            </td>
            <td style="text-align: center" v-if="item.statusId == 2">
              กำลังปรุง
            </td>
            <td style="text-align: center" v-if="item.statusId == 3">
              รอเสิร์ฟ
            </td>
            <td
              style="text-align: center"
              v-if="item.statusId == 4 || item.statusId == 5"
            >
              เสร็จสิ้น
            </td>
          </tr>
        </tbody>
      </v-table>
      <br />
      <v-col>
        <v-row style="text-align: center">
          <v-col cols="9" style="text-align: right; font-weight: bolder"
            >Amount :</v-col
          >
          <v-col cols="3">{{ orderStore.orderByOrderId?.amount }}</v-col>
        </v-row>
        <v-row style="text-align: center">
          <v-col cols="9" style="text-align: right; font-weight: bolder"
            >Price :</v-col
          >
          <v-col cols="3">{{ orderStore.orderByOrderId?.total }}</v-col></v-row
        >
      </v-col>
    </v-card-text>
  </v-card>
</template>

<style scoped></style>
