<script setup lang="ts">
import { ref } from "vue";
import { useTableStore } from "@/stores/tables";
import { useOrderStore } from "@/stores/order";

const useTable = useTableStore();
const useOrder = useOrderStore();

const props = defineProps<{
  id: number;
  status: string;
}>();

const pay = async () => {
  if (useTable.editedtables.status == "on-use") {
    useTable.editedtables.status = "clean";
    // useOrder.editedOrder.tableId = props.id;
    useTable.changeTableStatus();
    useOrder.closeOrder(useOrder.orderId);
  }
};
</script>
<template>
  <h2 class="text-center">ช่องทางการชำระเงิน</h2>
  <br />

  <v-card>
    <v-tabs bg-color="error"> </v-tabs>
    <v-card-text>
      <v-window>
        <v-window-item> </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
  <v-card >
    <v-col>
      <v-row>
        <v-col class="text-center" cols="6">
          <v-btn depressed height="300" width="350" to="dialogQrView">
            <v-card width="300" height="300">
              <v-img
                src="https://www.tnrr.in.th/wp-content/uploads/2022/10/promptpay-logo.jpg"
              ></v-img>

              <v-card-title>Prompt Pay</v-card-title>
            </v-card>
          </v-btn>
        </v-col>
        <v-col class="text-center" cols="6">
          <v-btn depressed height="300" width="350" to="cashPageView">
            <v-card width="300" height="300">
              <v-img src="https://www.i-pic.info/i/cwlS411863.png"></v-img>
              <v-card-title>Cash</v-card-title>
            </v-card>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-card>
</template>
<style scoped></style>
