<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiAccountMultiple,
  mdiTableFurniture,
  mdiBowlMixOutline,
  mdiFood,
  mdiAccountCreditCardOutline,
} from "@mdi/js";

import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}

const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >

      <v-btn @click="logout">Logout</v-btn>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://media2.giphy.com/media/xUOwGaHZAqer55FTZS/giphy.gif"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <!-- <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="User"
          value="user"
          to="/user"
        ></v-list-item> -->
        <v-list-item
          :prepend-icon="mdiFood"
          title="Product"
          value="product"
          to="/product"
        ></v-list-item>
        <!-- <v-list-item
              :prepend-icon="mdiFileTableBoxMultiple"
              title="Table Menu"
              value="tableMenu"
              to="/tableMenu"
            ></v-list-item> -->

        <v-list-item
          :prepend-icon="mdiTableFurniture"
          title="Table"
          value="table"
          to="/table"
        ></v-list-item>
        <!-- <v-list-item
              :prepend-icon="mdiTabletCellphone"
              title="Menu Phone"
              value="menuPhone"
              to="/menuPhone"
            ></v-list-item>
             -->
        <!-- <v-list-item
          :prepend-icon="mdiBowlMixOutline"
          title="Menu"
          value="menu"
          to="/menu"
        ></v-list-item> -->
        <!-- <v-list-item
          :prepend-icon="mdiFood"
          title="Order"
          value="order"
          to="/order"
        ></v-list-item> -->
        <!-- <v-list-item
          :prepend-icon="mdiAccountCreditCardOutline"
          title="Pay"
          value="pay"
          to="/pay"
        >
        </v-list-item> -->
        <v-list-item
          :prepend-icon="mdiBowlMixOutline"
          title="Kitchen"
          value="MenuKitchen"
          to="/MenuKitchen"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <router-view> </router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
