<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
const orderStore = useOrderStore();

const props = defineProps<{
  orderItemId: number;
  productId: number;
  name: string;
  qty: number;
  status: string;
}>();

const nextStep = async () => {
  orderStore.updateStatusOrderItems(
    props.orderItemId,
    props.productId,
    props.qty,
    3
  );
  orderStore.getOrderItemById(props.orderItemId);
  await orderStore.onMounted();
};

const backStep = async () => {
  orderStore.updateStatusOrderItems(
    props.orderItemId,
    props.productId,
    props.qty,
    1
  );
  orderStore.getOrderItemById(props.orderItemId);
  await orderStore.onMounted();
};
</script>
<template>
  <v-card
    class="ma-1"
    style="width: 100%; height: max-content"
    variant="tonal"
    elevation="3"
  >
    <v-card-subtitle class="text-left" style="margin: 10px">
      Queue {{ props.orderItemId }}
    </v-card-subtitle>
    <v-card-text>
      <div class="text-left">รายการ : {{ props.name }}</div>
      <div class="text-left">จำนวน : {{ props.qty }}</div>
    </v-card-text>
    <v-card-actions>
      <v-col class="text-right">
        <v-btn color="red" @click="backStep()">กลับ</v-btn>
        <v-btn color="orange" @click="nextStep()">เสร็จ</v-btn>
      </v-col>
    </v-card-actions>
  </v-card>
</template>
<style scoped></style>
