<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import cardQueue from "./cardQueue.vue";
import cardCook from "./cardCook.vue";
import cardServe from "./cardServe.vue";
import cardFinish from "./cardFinish.vue";
import { onMounted } from "vue";
const orderStore = useOrderStore();
// const getStatusId = async (status: number) => {
//   const statusId = await orderStore.getOrderByStatusId(status);
//   console.log("statusId.value : ", statusId);
//   // console.log(statusId.length);
//   return statusId;
// };

onMounted(async () => {
  await orderStore.getOrderByStatusId1(1);
  await orderStore.getOrderByStatusId2(2);
  await orderStore.getOrderByStatusId3(3);
  await orderStore.getOrderByStatusId4(4);
});

// function isCook(status: string) {
//   if (status === "กำลังปรุง") {
//     return true;
//   }
//   return false;
// }
// function isWait(status: string) {
//   if (status === "รอเสิร์ฟ") {
//     return true;
//   }
//   return false;
// }
// function isFinish(status: string) {
//   if (status === "เสิร์ฟแล้ว") {
//     return true;
//   }
//   return false;
// }

function cardColor(status: string) {
  if (status === "1") {
    return "green";
  } else if (status === "2") {
    return "orange";
  } else if (status === "3") {
    return "orangered";
  } else if (status === "4") {
    return "grey";
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col style="margin: 10px">
        <h3 style="margin-bottom: 10px; color: green; text-align: center">
          คิว
        </h3>
        <v-row class="ma-2">
          <v-divider></v-divider>
        </v-row>
        <v-col style="overflow-y: auto; height: 82vh">
          <v-row
            v-for="(item, index) of orderStore.orderListByStatus1"
            :key="index"
          >
            <cardQueue
              :orderItemId="item.id!"
              :productId="item.productId!"
              :name="JSON.stringify(item.name)"
              :qty="item.qty"
              :status="JSON.stringify(item.statusId)"
              :style="{
                color: cardColor(JSON.stringify(item.statusId)),
              }"
            ></cardQueue>
          </v-row>
        </v-col>
      </v-col>
      <v-col style="margin: 10px">
        <h3 style="margin-bottom: 10px; color: orange; text-align: center">
          กำลังปรุง
        </h3>
        <v-row class="ma-2">
          <v-divider></v-divider>
        </v-row>
        <v-col style="overflow-y: auto; height: 82vh">
          <v-row
            v-for="(item, index) of orderStore.orderListByStatus2"
            :key="index"
          >
            <cardCook
              :orderItemId="item.id!"
              :productId="item.productId!"
              :name="JSON.stringify(item.name)"
              :qty="item.qty"
              :table="-1"
              :status="JSON.stringify(item.statusId)"
              :style="{
                color: cardColor(JSON.stringify(item.statusId)),
              }"
            ></cardCook>
          </v-row>
        </v-col>
      </v-col>
      <v-col style="margin: 10px">
        <h3 style="margin-bottom: 10px; color: orangered; text-align: center">
          รอเสิร์ฟ
        </h3>
        <v-row class="ma-2">
          <v-divider></v-divider>
        </v-row>
        <v-col style="overflow-y: auto; height: 82vh">
          <v-row
            v-for="(item, index) of orderStore.orderListByStatus3"
            :key="index"
          >
            <cardServe
              :orderItemId="item.id!"
              :productId="item.productId!"
              :name="JSON.stringify(item.name)"
              :qty="item.qty"
              :status="JSON.stringify(item.statusId)"
              :style="{
                color: cardColor(JSON.stringify(item.statusId)),
              }"
            ></cardServe>
          </v-row>
        </v-col>
      </v-col>
      <v-col style="margin: 10px">
        <h3 style="margin-bottom: 10px; color: grey; text-align: center">
          เสิร์ฟแล้ว
        </h3>
        <v-row class="ma-2">
          <v-divider></v-divider>
        </v-row>
        <v-col style="overflow-y: auto; height: 82vh">
          <v-row
            v-for="(item, index) of orderStore.orderListByStatus4"
            :key="index"
          >
            <!-- :id="itF -->
            <!-- <cardKit></cardKit> -->
          </v-row>
          <v-row
            v-for="(item, index) of orderStore.orderListByStatus4"
            :key="index"
          >
            <cardFinish
              :orderItemId="item.id!"
              :productId="item.productId!"
              :name="JSON.stringify(item.name)"
              :qty="item.qty"
              :table="-1"
              :status="JSON.stringify(item.statusId)"
              :style="{
                color: cardColor(JSON.stringify(item.statusId)),
              }"
            ></cardFinish>
          </v-row>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
