<script setup lang="ts">
import { useLoadingStore } from "@/stores/loading";
const loadingStore = useLoadingStore();
</script>

<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
    <v-card>
      <v-card-text class="text-center">
        <div>Please wait</div>
        <v-progress-circular
          class="ma-5"
          :size="50"
          indeterminate
          color="green"
        ></v-progress-circular>
      </v-card-text> </v-card
  ></v-dialog>
</template>
