<script setup lang="ts">
import { useUserStore } from "../../stores/user";
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import type User from "@/stores/types/User";
import { onMounted } from "vue";
const useStore = useUserStore();

const addNewUser = () => {
  useStore.dialog = true;
};

const editUser = (user: User) => {
  useStore.editUsers(user);
};

onMounted(async () => {
  await useStore.getUsers();
});
</script>
<template>
  <v-containner>
    <v-row>
      <v-col cols="3" offset="8">
        <v-btn color="primary" :prepend-icon="mdiPlus" @click="addNewUser"
          >Add New</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>login</th>
              <th>Name</th>
              <th>Password</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of useStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="editUser(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="useStore.deleteUsers(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-containner>
</template>
<style scoped></style>
