<script setup lang="ts">
import { ref } from "vue";
import { useTableStore } from "../../stores/tables";
import { useOrderStore } from "@/stores/order";
import { useCartStore } from "@/stores/Cart";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);

const useOrder = useOrderStore();
const useTable = useTableStore();
const useCart = useCartStore();
const tableId = ref("");

const close = () => {
  useTable.dialogChange = false;
};
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log(tableId.value);
  }
  await useOrder.getOrderByTableId(useTable.editedtables.id!);
  const orderId = useOrder.orderId;
  await useOrder.changeTable(orderId, tableId.value, useCart.emptyFoodList);
  savetable();
  useTable.dialogChange = false;
};

const savetable = () => {
  useTable.editedtables.id;
  useTable.editedtables.status = "clean";
  useTable.changeTableStatus();

  useTable.editedtables.id = parseInt(tableId.value);
  useTable.editedtables.status = "on-use";
  useTable.changeTableStatus();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="useTable.dialogChange" persistent width="70%">
      <v-card>
        <v-card-title>
          <span class="text-h5">Change Table</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="tableId"
                    label="Table number"
                    :rules="[(v) => !!v || 'Table number is not emty']"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <!-- {{ useStore.edited }} -->
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="close()">
            Cancle
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
