<script setup lang="ts">
import { mdiCloseCircle } from "@mdi/js";
import { useTableStore } from "@/stores/tables";
import { useProductStore } from "@/stores/product";
const useStore = useTableStore();
</script>

<template>
  <h1>Food list</h1>

  <v-container>
    <v-row>
      <v-col class="text-center" style="margin: auto"
        >Table : {{ useStore.editedtables.id }}</v-col
      >
      <v-col cols="12" md="2">
        <v-btn :icon="mdiCloseCircle" flat to="/table"></v-btn>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>รายการอาหาร</th>
              <th>จำนวน</th>
              <th>ราคา</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr v-for="item of productStore.products" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.count }}</td>
              <td>{{ item.price }}</td>
            </tr> -->
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-divider></v-divider>
  </v-container>

  <p>ยอดรวม 205 บาท</p>
  <p>รับเงิน 300 บาท</p>
  <p>ยอดเงินทอน 95 บาท</p>

  <v-row>
    <v-col class="text-center" cols="12">
      <v-btn width="200" height="60" variant="outlined">พิมพ์ใบแจ้งหนี้</v-btn>
    </v-col>
  </v-row>
  <v-row>
    <v-col class="text-center" cols="12">
      <v-btn width="200" height="60" variant="outlined">ชำระเงิน</v-btn>
    </v-col>
  </v-row>
</template>
<style scoped></style>
