<script setup lang="ts">
import router from "@/router";
import TableDialog from "./TableDialog.vue";
import ChangeDialog from "./ChangeDialog.vue";
import { mdiCloseCircle } from "@mdi/js";
import { useTableStore } from "@/stores/tables";
import { useOrderStore } from "@/stores/order";
const useOrder = useOrderStore();
const useTable = useTableStore();

const close = () => {
  useTable.editedtables.status = "";
};
const goToMenu = async () => {
  console.log("useTable.editedtables.id : ", useTable.editedtables.id);
  await useOrder.getOrderByTableId(useTable.editedtables.id!);

  const OrderId = useOrder.orderId;
  console.log("OrderId  : ", OrderId);
  router.push("/menu/" + OrderId);
};
const cancleTable = async () => {
  useTable.editedtables.status = "clean";
  useTable.changeTableStatus();
  useOrder.closeOrder(useOrder.orderId);
  useOrder.removeOrderIem();
};
// };
</script>

<template>
  <v-contrainer>
    <TableDialog v-if="useTable.dialog == true"></TableDialog>
    <ChangeDialog v-if="useTable.dialogChange == true"></ChangeDialog>
    <v-row>
      <v-col style="margin: auto">Table {{ useTable.editedtables.id }}</v-col>
      <v-col cols="12" md="2">
        <v-btn :icon="mdiCloseCircle" variant="text" @click="close()"></v-btn>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    <v-row style="margin-top: 20px">
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          value="btnAddOrder"
          @click="goToMenu()"
          >Add Order</v-btn
        >
      </v-col>
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          value="btnOrderedList"
          to="/Order"
          >Ordered List</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          @click="useTable.dialog = true"
          >Status</v-btn
        >
      </v-col>
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          value="btnBilling"
          to="/Pay"
          >Billing</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          @click="useTable.dialogChange = true"
          >Change Table</v-btn
        >
      </v-col>
      <v-col class="text-center" cols="6">
        <v-btn
          width="100%"
          height="60"
          variant="outlined"
          @click="cancleTable()"
          >Cancle Table</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center" cols="12">
        <v-btn width="100%" height="60" variant="tonal">Pay</v-btn>
      </v-col>
    </v-row>
  </v-contrainer>
</template>
<style scoped></style>
