<script setup lang="ts">
import { useTableStore } from "../../stores/tables";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const useStore = useTableStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    await useStore.changeTableStatus();
  }
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="useStore.dialog" persistent width="70%">
      <v-card>
        <v-card-title>
          <span class="text-h5">Table {{ useStore.editedtables.id }}</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-select
                    :items="['ready', 'on-use', 'clean']"
                    label="Status*"
                    v-model="useStore.editedtables.status"
                    required
                  ></v-select>
                </v-col>
                <v-col>
                  {{ useStore.editedtables }}
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="useStore.dialog = false"
          >
            Cancle
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
