<script lang="ts" setup>
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import type Product from "@/stores/types/Product";
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import ProductDialog from "./ProductDialog.vue";
import ConfirmDialog from "@/components/ComfirmDialog.vue";

const useStore = useProductStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const confirmDlg = ref();

const addNewProduct = () => {
  useStore.dialog = true;
};

const editUser = (product: Product) => {
  useStore.editProduct(product);
};

onMounted(async () => {
  await useStore.getProducts();
});

const deleteProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่?`
    );
    useStore.deleteProduct(id);
  } catch (e) {
    /*empty*/
  }
};
</script>
<template>
  <v-containner>
    <ProductDialog></ProductDialog>
    <v-row>
      <v-col cols="3" offset="8">
        <v-btn color="primary" :prepend-icon="mdiPlus" @click="addNewProduct()"
          >Add New</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>name</th>
              <th>price</th>
              <th>Operations</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of useStore.productList" :key="item.id">
              <td>{{ item.id }}</td>
              <td>
                <v-img
                  :src="`${backendURL}/products/image/${item.image}`"
                ></v-img>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="editUser(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="deleteProduct(item.id!)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-containner>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
